<html>
<head>
	<meta charset="UTF-8">
	<title>聊天室</title>
	<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body onresize="initSize()" onload="initSize()">

	<div id="center">
		<div id="footer">
			请输入颜色编码：
			<input id="form" type="text" name="color" />
			<input type="button" value="修改颜色" onclick="changeColor()" />
			<br/><br/>
			请输入画笔粗细：
			<input id="thick" type="text" name="thickness" />
			<input type="button" value="修改粗细" onclick="changeThickness()" />
			<br/><br/>
			请输入橡皮擦粗细：
			<input id="rubber" type="text" name="howbig" />
			<input type="image" src="/images/eraser.jpg" height="20" value="点我使用" onclick="useEraser()"  />
		</div>
		<div id="gameCenter">
			<canvas id="canvas" width="1000px" height="1000px" onmousedown="mousedown()" onmousemove="mousemove()" onmouseup="mouseup()" > 
		    </canvas>

		    <div id="chat">
		    	<table>
					<tr>
						<td>
							<ul id="usersList">
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<ul id="messageList">
							</ul>
						</td>
					</tr>
				</table>
				<div id="msgDiv">
					<input id="content" type="text" placeholder="消息">
					<button onclick="sendMsg()">发送</button>
				</div>
		    </div>
		</div>
	</div>
	 
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript" src="/javascripts/canvas.js"></script>
</body>
</html>